@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');   

body
{
    width: 100%;
    max-width: 100%;
    overflow: auto;
    background-color: #006533;
}

#main
{
    overflow: auto;
    position: absolute;
}
.main_img
{
    display: flex;
    background-image: url(img_index/calanque.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;    
    height: 500px;
}
#myVideo
{
    width: 1900px;
    max-height: 500px;
}
.centered {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 180px;
    color: whitesmoke;
    font-family: 'Playfair Display', serif;
}
.actualité
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.actualité h2
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 100;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.down_arrow
{
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 6px;
    position: absolute;
    left: 48%;
    border-radius: 20%;
}
.down_arrow:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.container
{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
.article
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: white;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2%;
}
.article:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.section_a
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.section_b 
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}
.section_c
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
.article img
{
    width: 300px;
    border-radius: 2%;
}
.text_article
{
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
footer {
    background-color: lightblue;
    padding-top: 1%;
}
.RS
{
    margin-bottom: 1%;
}

.footer .footer1 a {
    color: black;
}

/*-----------------------------*/

nav a {
    color: white;
}

.navbar nav{
    background-color: #708090;
  }
  
  .sous {
    background-color: #708090;
  }
  
  nav a:hover {
    color: rgb(188, 188, 188);
    transition: 0.8s;
  }
  
  nav ul {
      width: 100%;
  }
  
  footer {
    background-color: #214761;
    color: #fff;
  }
   
  .footer .footer1 a {
    color: #fff;
  }

  .navbar .nav-left {
    background-image: url(imgGen/bg.png);
}